.btn-show-bg {
  background-color: rgba(20, 20, 197, 0.719);
}

.btn-show {
  background-color: transparent;
}
.btn-show:hover {
  background-color: transparent;
  /* padding: 20px; */
}
.show-Btn-Hover:hover {
  background-color: #171e2e;
}

.show-Btn-Hover:hover .btn-hover {
  background-color: #6238fe;
  border-color: transparent;
}
.btn-style {
  background-color: transparent;
  color: transparent;
}

.btn-style a {
  color: #aaaebd;
  font-size: 20px;
  font-weight: 100;
}
.btn-style a:hover {
  color: #022984;
}

.btn-style-Nohover {
  background-color: #3772ff;
}

/* working for navlinks */
.active{
  background-color: #3772ff;
}

.row{
  border-radius: "100px";
  cursor: pointer;
}
.row:hover .btn-hover {
  background-color: #3772ff;
  border-color: transparent;
}
.active{
  background-color: #3772ff;
  border-radius: 20px;
}

.navLink{
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 10px;
}

.box{
  font-size: small;
  height: 40px;
  width: 40%;
  background: #3772ff;
  border-radius: 50px;

}

.btn-active {
  background-color: rgb(21, 21, 237);
}
